<div>
  <em>Democracy</em> in Ancient Greece literally meant <em>the people rule</em>.
</div>

<div>
  Cleisthenes invented it with a map of many small areas called <em>demes</em>.
</div>

<div>
  Everyone met with their own deme regularly, to vote on what to change or do.
</div>

<div>
  You can make your voice heard now, here, every day.
</div>

<div>
  Answer today's poll and decide what tomorrow's questions will be.
</div>

<div>
  Next
</div>
